.container {
    max-width: 1240px;
    color: #474747;
    .conteudo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 0 0px;
        color: #474747;
        .tituloResultado {
            font-size: 16px;
            font-weight: 700;
            .resultado {
                font-weight: 400;
            }
        }
        .containerOrdenar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 332px;
            height: 60px;
            background-color: #F9F8FE;
            border: 1px solid #474747;
            border-radius: 4px;
            .tituloOrdenar {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

@media (max-width:900px) {
    .container{
        display: flex;
        justify-content: center;
        .conteudo{
            .tituloResultado{
                display: none;
            }

        }

    }
}