
.meusPedidosFinalizadosContainer{
    margin-top: 192px;
    background-color:#F9F8FE ;
    .containermaster {
        margin-top: 80px;
        display: flex;
     justify-content: center;
     margin-bottom: 143px;
     
     width:100vw;
}
    
}

.subgrup1 {
    padding: 10px 30px;
    width: 334px;
    margin-right: 16px;
   background-color: white;
    height:268px;
    hr{
        color: #CCCCCC;
    }
}

.listgroup1 {
   
    padding: 20px 0 ;
    
}

.textgroup1 {
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #474747;
}



.subgrup2 {
    padding:10px 30px;
    max-width: 890px;
    width: 61.81vw;
   background-color: white;
   height:572px;
}

.list1group2 {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    .statuslist1 {
        width: 86px;
        height: 22px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #474747;
        
    }
}




@media (max-width: 900px) {
    .subgrup1 {
     display: none;
    }

    .subgrup2 {
        width: 95%;
    }

    .containerxxx {
        margin-top: 168px;
          margin-bottom: 92px;
 }



}

@media (max-width: 600px) {
    .meusPedidosFinalizadosContainer{
        margin-top: 66.5px;
        .containermaster {
            margin-top: 57.5px;
        }
    }
}

@media (max-width: 430px) {
    .statuslist1{
        display: none;
     }

}
