.containermaster {
       margin-top: 272px;
       display: flex;
    justify-content: center;
    margin-bottom: 143px;
}

.subgrup1 {
        padding: 10px;
    width: 283px;
    margin-right: 16px;
}

.listgroup1 {
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 0 ;
}

.textgroup1 {
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    color: #474747;
}

.textgroup1:hover {
    color: #C92071;
    font-weight: 900;
    font-size: 16px;
    transition: 300ms;
}

.subgrup2 {
    padding:10px 30px;
    max-width: 890px;
    width: 61.81%;
}

.list1group2 {
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

    .statuslist1 {
        width: 86px;
        height: 22px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #474747;
    }
}




@media (max-width: 950px) {
    .subgrup1 {
     display: none;
    }

    .subgrup2 {
        width: 95%;
    }

    .containerxxx {
        margin-top: 168px;
          margin-bottom: 92px;
 }



}

@media (max-width: 430px) {
    .statuslist1{
        display: none;
     }

}