.loginPage{
    background-color:#BCBDF4 ;
    height: 100vh;
    width: 100wh;
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.tenis1 {
    width: 266px;
    height: 483px;
    margin-top: -50px;
    margin-left: 60px;
}


.tenis2 {
    width: 262px;
    height: 515px;
    margin-top: 50px;
}