* {
	box-sizing: border-box;
}

.CardContainer {
	// display: flex;
	background: #d8e3f2;
	width: 405px;
	height: 251px;
	border-radius: 8px;
	padding: 34px 30px;
}

.cardTitle {
	width: 172px;
	height: 72px;
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
	letter-spacing: 1px;
	color: #1f1f1f;
}

.leftSide {
	position: relative;
	top: -20px;
}
