* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.iconWrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 123px;
	align-items: center;
}
.title {
	height: 38px;
	width: 90%;
	margin:38px 0 20px 3.95vw;
	 h3{
		text-align: start;
		font-size: 24px;
	 }
}

.subTitle {
	display: flex;
	align-items: center;
	padding: 100px 0 20px 0;
}

.icones {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 712px;
	max-width: 100vw;
	height: 138px;
	overflow-x: hidden;
}

.iconeItem {
	display: flex;
	align-items: center;
	flex-direction: column;

	img {
		width: 104px;
		height: 104px;
		border-radius: 50%;

		background: white;
		
	}
}

.iconeItem:first-child {
	display: flex;
	align-items: center;
	flex-direction: column;
	img {
		width: 104px;
		height: 104px;
	}
}


span {
	font-weight: bold;
}

.wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 12px;
}
.CardContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	background: #d8e3f2;
	width: 405px;
	height: 251px;
	border-radius: 8px;
	padding: 34px 30px;
}

.cardTitle {
	width: 172px;
	height: 72px;
	margin: 10px 0 20px 0;
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
	letter-spacing: 1px;
	color: #1f1f1f;
}
@media screen and (max-width:600px){
	.CardContainer{
		width:90.13vw;
		height:56.53vw;
		background-size: 200px;
		padding:20px;
	}
	.cardTitle{
		width:51.73vw;
		font-size: 7.46vw;
		margin-bottom: 2.6667vw;
		
	}
	.title{
		font-size: 16px;
	
	}
	.subTitle{
		font-size: 16px;
		padding: 80px 0 20px 0;
	}
	.icones{
		justify-content: flex-start;
		height:125px;
		padding-left: 20px;
		.iconeItem{


			margin-right:19.16px;
			span{
				padding-top:10.97px;
				font-size:12px;
				text-align: center;
	
			}
			img{
				height:92.03px;
				width:92.03px;
				object-fit: cover;
				
			}
		}
	}
}