$coeficiente-desk:0.0694vw;
$coeficiente-mobile:0.2666vw;
.containerLogin {
   background-color: white;
   width: calc(583 *$coeficiente-desk);
   height: 560px;
   padding: 30px;
   margin-left: 0px;
}



.textMain {
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 20px;
   
}

.textSubMain{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    font-weight: 400;
    margin-bottom: 30px;
}

.textLoginAlternative{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}

.underscore{
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}

.indicativeText {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #474747;
    margin-bottom: 5px;
}

.helpPassword{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #474747;
    margin-top: 10px;
    margin-bottom: 30px;
    text-decoration: underline;
    cursor: pointer;
}


.inputLogin{
    padding: 0px;
    
}

::placeholder{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.75;
    
}

.inputLogin{
    width:100%;
    height: 60px;
    border-radius: 8px;
    color: #474747;
    margin-bottom: 20px;
    padding: 10px;
}

.containerLoginAlternative {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 30px;

}

.logoImg {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    
    cursor: pointer;
}


@media screen and (max-width:900px){
    .containerLogin {
        width: calc(315 * $coeficiente-mobile);
        height: 572px;
        margin-left: 0px;
        margin-bottom: 80px;
        
    }

    .inputLogin {
        width: 100%;
        height: 60px;
    }

    .textMain{
        font-size:  22px;
        line-height: 34px;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 0px;
    }

    .textSubMain{
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        font-weight: 400;
    }

    .textLoginAlternative{
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.25px;
        font-weight: 500;
        margin-bottom: 24px;
    }

    .containerLoginAlternative {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    
    }

 
}