.descontoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 32px;
	width: 96px;
	font-weight: 700;
	background-color: #e7ff86;
	color: #474747;
	border-radius: 29px;
	padding: 5px 15px;
	z-index: 3;
	white-space: nowrap;
}
@media screen and (max-width){
	.descontoContainer {
		width:90.55px;
		padding: 5px 12.27px;
		font-size: 14px;
		
	}
}