.containerCadastro {
    height: 399px;
    width: 40.48vw;
    border-radius: 4px;
    padding: 30px;
    background-color: white; 
    margin-left: 6.94vw;
    margin-bottom: 324px;
}

.subcontainerSecundario {
    position:static ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 30px;
    span{
        font-size:16px;
        font-weight: 400;
        color:#474747
    }
    .iconeGmail {
        height: 23.85px;
        width: 24px;
       
        border-radius: 0px;
    }
    
    .iconeFacebook {
        height: 23.85px;
        width: 24px;
       
        border-radius: 0px;
    }
}

.criarConta {
    font-weight: 700;
    width: 255px;
    height: 34px;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: black;
}

::-webkit-input-placeholder {
    padding: 16px 24.61px;
    
}

.conviteAoCadastramento1 {
    height: 24px;
    width: 255px;
    margin-bottom: 30px;
    color: black;
}

u {
    color: black;
}

.emailComAsterisco {
    width: 53px;
    height: 24px;
    left: 30px;
    top: 118px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: black;
    margin-bottom: 5px;
}

.campoDeDigitacaoDoEmail {
    margin-bottom: 30px;
    width: 36.32vw;
}

input {
    height: 60px;
    width: 255px;
    left: 30px;
    top: 147px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    background-color: #F8F8F8;
}

.conviteAoCadastramento2 {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: black;
    position: absolute;
    left: 250px;
}

@media screen and (max-width:900px) {
    .containerCadastro {
        width:315px;
        height:411px;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-bottom: 82px;
        input{
            width:255px;
        }
        .criarConta{
            font-size: 22px;
            margin-bottom: 0;
            line-height: 34px;
        }
        .conviteAoCadastramento1{
            font-size: 14px;
            text-align: center;
        }
        .subcontainerSecundario{
            font-size: 14px;
        }
    }
}