.containerCadastro {
    height: 411px;
    width: 315px;
    left: 30px;
    top: 171px;
    border-radius: 4px;
    padding: 30px;
}

.criarConta {
    font-weight: 700;
    width: 255px;
    height: 34px;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: -10px;
    margin-left: -5px;
}

.conviteAoCadastramento1 {
    height: 24px;
    width: 255px;
    left: 0px;
    top: 0px;
}

.emailComAsterisco {
    width: 53px;
    height: 24px;
    left: 30px;
    top: 118px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.75px;
}

.campoDeDigitacaoDoEmail {
    margin-bottom: 30px;
}

input {
    height: 60px;
    width: 255px;
    left: 30px;
    top: 147px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    background-color: #F8F8F8;
}

button {
    border-radius: 8px;
}

.conviteAoCadastramento2 {
    height: 22px;
    width: 125px;
    left: 0px;
    top: 0px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    font-weight: 500;
    margin-left: 50px;
}

.iconeGmail {
    height: 23.85px;
    width: 24px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin-left: 75px;
    margin-right: 25px;
}

.iconeFacebook {
    height: 23.85px;
    width: 24px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}