.carrinho{
    font-size:18.5px;
    color:#c92071;
    
}
.qtdComprasAdicionadas{
    display: flex;
    justify-content: center;
    align-items: center;
    height:13px;
    width:13px;
    background-color: #c92071;
    border-radius:100%;
    position: relative;
    left:10px;
    top:9px;
    padding: 2px;
    span{
        color:white;
        font-size: 12px;
        font-weight: 700;
    }
}