.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F8FE;
    margin-top: 192px;
    .caminho{
        width: 86.6vw;
        display: flex;
        justify-content: left;
        margin-bottom: 40px;
    }
    .produto {
        display: flex;
        margin-bottom: 80px;
    }

    .relacionados {
        .containerTitulo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 1240px;
            .Titulo {
                height: 38px;
                font-weight: 700;
                font-size: 24px;
                color: #474747;
            }

            a {
                text-decoration: none;
                height: 38px;
                font-weight: 400;
                font-size: 18px;
                color: #C92071;
            }
        }

        .produtosRelacionados {
            width: 1240px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 127px;
        }
    }
}

@media (max-width: 900px) {
    .container {
        display: flex;
        align-items: center;
        margin-top: 66px;
        .produto {
            display: flex;
            flex-direction: column;
            margin-bottom: 80px;
        }

        .relacionados {
            .containerTitulo {
                .Titulo {
                    font-size: 16px;
                }

                a {
                    font-size: 14px;
                }
            }

            .produtosRelacionados {
                width: 335px;
                flex-wrap: wrap;
            }
        }
    }
}